@use "../abstracts";

html.dark {
   --text-color: #fff;
   --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
      saturate(2%) hue-rotate(35deg) brightness(107%) contrast(101%);

   --body-bg: #292e39;

   // Header
   --header-bg-color: #171c28;
   --text-hover-header-color: #fff;
   --after-hover-color: #f6f6f6;
   --top-act-group-bg-color: #292e39;
   --top-act-group-shadow: rgba(0, 0, 0, 0.2);
   --top-act-group-separate: #ededf6;
   --placeholder-color: #fff;

   // Category
   --cate-item-bg: #171c28;
   --cate-item-thumb-bg: #292e39;
   --cate-item-title-color: #fff;

   // home-heading-name
   --text-name-color: #fff;

   // Buttons
   --filter-btn-color: #fff;
   --filter-btn-bg: #171c28;

   // Book
   --book-card-bg: #171c28;
   --book-card-shadow: rgba(0, 0, 0, 0.2);

   // Footer
   --footer-bg-color: #171c28;
   --footer-text-color: #9e9da6;

   // auth
   --auth-content-bg: #292e39;
   --auth-intro-bg: #171c28;
   --auth-heading-color: #b9babe;
   --auth-intro-text-color: #b9babe;
   --auth-form-icon-color: #b9babe;
   --auth-content-label-color: #d2d1d6;
   --auth-content-input-bg: #292e39;
   --auth-content-text-placeholder-color: #b9babe;
}
